/*General Page Edits */

body {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  background-image: url("http://res.cloudinary.com/dhcon9xbu/image/upload/v1512247911/6809725-simple-vintage-backgrounds_exbdbm.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


/*Results*/
#results {
  display: block;
  text-align: center;
  font-size: 400%;
}

#multidice {
 display: block;
 font-size: 25px;
}

/* Dice */
.chosen-die{
  font-size: 150%;
}

.dice-bag{
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
  align: center;
  background-color: none;
}

.dice{
  margin: 10px;
  display: inline-block;
}

.dice-size{
  width:75%;
}

/* Hover and Transformation Effects */

input:hover {
  transform: scale(1.1);
}

.footer {
  text-align:center;
}

.total-box{
  border: 1px solid black;
  padding: 20%;
}
