/*General Page Edits */

body {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  background-color: #C4BD8B;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1em;
}

/*Results*/
#results {
  display: block;
  text-align: center;
  font-size: 2em;
}

#multidice {
 display: block;
 font-size: 25px;
}

/* Dice */
.chosen-die{
  font-size: 4em;
}

.dice-bag{
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
  align: center;
  background-color: none;
}

.dice{
  margin: 10px;
  display: inline-block;
}

.dice-size{
  width:40%;
}

/* Hover and Transformation Effects */

input:hover {
  transform: scale(1.1);
}

.footer {
  text-align:center;
}

.total-box{
  align: center;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #8FAAB3;
  box-shadow: 2px 2px 8px #888888;

}
